{% extends "layout.html" %}

{% block body %}

    <h1>Register for Frosh IMs</h1>

    <form action='/register' method='post'>
    <input autocomplete="off" autofocus name='name' placeholder="Name" type='text'>
    <select name='dorm'>
        <option disabled selected value="">Dorm</option>
        <option value='Apley Court'>Apley Court</option>
        <option value="Canaday">Canaday</option>
        <option value="Grays">Grays</option>
        <option value="Greenough">Greenough</option>
        <option value="Lionel">Lionel</option>
        <option value="Mathews">Mathews</option>
    </select>
    <input type='submit' value='Register'>
    </form>

    <script>

        document.querySelector('form').onsubmit = function() {
            if (!document.querySelector('input').value) {
                alert('You must provide your name!');
                return false;
            }
            else if (!document.querySelector('select').value) {
                alert('You must provide your dorm!');
                return false;
            }
            return true;
        };

    </script>

    <a href ="http://127.0.0.1:5000/registered" >Registered people</a>

{% endblock %}